.login-panel
  .panel-header VHost-API
  .panel-body
    .flash-message
      = find_and_preserve styled_flash
    %form{ accept: { charset: 'UTF-8' }, action: '/api/v1/auth/login',
           role: 'form', method: 'POST' }
      %fieldset
        .form-group
          %input.form-control#user{ type: 'text', name: 'user[login]',
            placeholder: 'Username',
            autofocus: 'autofocus' }
        .form-group
          %input.form-control#password{ type: 'password',
            name: 'user[password]', placeholder: 'Password' }
        .right
          %input.formbutton{ type: 'submit', value: 'Log In' }
