.table-wrapper
  %table.table.table-triped
    %caption SFTP Users
    - unless @sftpusers.nil? || @sftpusers.empty?
      %thead
        %tr
          - @sftpusers[0].keys.each do |key|
            %th= key
      %tbody
        - @sftpusers.each do |u|
          %tr
          - u.keys.each do |key|
            %td= u[key]
