.table-wrapper
  %table.table.table-triped
    %caption Shell Users
    - unless @shellusers.nil? || @shellusers.empty?
      %thead
        %tr
          - @shellusers[0].keys.each do |key|
            %th= key
      %tbody
        - @shellusers.each do |u|
          %tr
          - u.keys.each do |key|
            %td= u[key]
